<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales_pdf">
            <group id="firegento_pdf" translate="label" sortOrder="100" showInDefault="1" showInStore="1"
                    showInWebsite="1" type="text">
                <label>PDF Creation</label>
                <field id="sender_address_bar" type="text" showInWebsite="1" showInStore="1" showInDefault="1"
                        sortOrder="100" translate="label comment">
                    <label>Sender Address Bar</label>
                    <comment>Show address above shipping/invoice address</comment>
                </field>
                <field id="show_footer" type="select" showInDefault="1" showInStore="1" showInWebsite="1"
                        sortOrder="200" translate="label comment">
                    <label>Show Footer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Show Imprint. Compatible with <a href="http://www.magentocommerce.com/magento-connect/firegento-magesetup.html">MageSetup</a> or GermanSetup (not anymore maintained, replaced by MageSetup)]]></comment>
                </field>
                <field id="logo_position" type="select" showInWebsite="1" showInStore="1" sortOrder="300"
                        showInDefault="1" translate="label comment">
                    <label>Logo Position</label>
                    <source_model>FireGento\Pdf\Model\System\Config\Source\Logo</source_model>
                    <comment><![CDATA[Full width means that the logo starts at the upper left corner and is drawn to the right edge. There is no left or right margin for printing.]]></comment>
                </field>
                <field id="logo_ratio" type="text" showInDefault="1" sortOrder="400" showInStore="1"
                        showInWebsite="1" translate="label comment">
                    <label>Logo Ratio</label>
                    <frontend_class>validate-number-range number-range-1-100</frontend_class>
                    <comment><![CDATA[Resize or not the size of your logo in the header. Value possible from 1 (minimum size) to 100 (full size). Values in percent.]]></comment>
                </field>
                <field id="headerblocks_position" type="select" showInWebsite="1" showInStore="1"
                        sortOrder="500" showInDefault="1" translate="label comment">
                    <label>Header Blocks Position</label>
                    <source_model>FireGento\Pdf\Model\System\Config\Source\Headerblocks</source_model>
                    <comment><![CDATA[Left: Customer address left, Invoice details right. Right: Invoice details left, Customer address right.]]></comment>
                </field>
                <field id="page_size" showInDefault="1" sortOrder="600" showInStore="1" showInWebsite="1"
                        type="select" translate="label">
                    <label>Page Size</label>
                    <source_model>FireGento\Pdf\Model\System\Config\Source\Headerblocks\PageSize</source_model>
                </field>
            </group>
            <group id="firegento_pdf_fonts" type="test" showInWebsite="1" showInStore="1" showInDefault="1"
                    sortOrder="200" translate="label">
                    <label>Fonts for PDF Creation</label>
                    <field id="upload_fonts" sortOrder="400" showInDefault="1" showInStore="1" showInWebsite="1"
                            type="select" translate="label comment">
                        <label>Upload own fonts</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[You can upload your own fonts (*.ttf) instead of using Zends Helvetica]]></comment>
                    </field>
                    <field id="regular_font" type="file" showInWebsite="1" showInStore="1" showInDefault="1"
                            sortOrder="500" translate="label">
                        <label>Regular font</label>
                        <backend_model>FireGento\Pdf\Model\System\Config\Backend\Font</backend_model>
                        <upload_dir>media/firegento_pdf/fonts</upload_dir>
                        <depends>
                            <field id="upload_fonts"/>
                        </depends>
                    </field>
                    <field id="bold_font" sortOrder="600" showInDefault="1" showInStore="1" showInWebsite="1"
                            type="file" translate="label">
                        <label>Bold font</label>
                        <backend_model>FireGento\Pdf\Model\System\Config\Backend\Font</backend_model>
                        <upload_dir>media/firegento_pdf/fonts</upload_dir>
                        <depends>
                            <field id="upload_fonts">1</field>
                        </depends>
                    </field>
                    <field id="italic_font" type="file" showInWebsite="1" showInStore="1" showInDefault="1"
                            sortOrder="700" translate="label">
                        <label>Italic font</label>
                        <backend_model>FireGento\Pdf\Model\System\Config\Backend\Font</backend_model>
                        <upload_dir scope_info="1">media/firegento_pdf/fonts</upload_dir>
                        <depends>
                            <field id="upload_fonts">1</field>
                        </depends>
                    </field>
                </group>
                <group id="invoice" sortOrder="300">
                    <field id="engine" translate="label" sortOrder="0" showInDefault="1" showInStore="1"
                            showInWebsite="1" type="select">
                        <label>PDF Engine</label>
                        <source_model>Firegento\Pdf\Model\System\Config\Source\Invoice\Engine</source_model>
                    </field>
                    <field id="show_customer_number" type="select" showInWebsite="1" showInStore="1"
                            showInDefault="1" sortOrder="35" translate="label">
                        <label>Show Customer Number</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="guestorder_customer_number" sortOrder="36" showInDefault="1" showInStore="1"
                            showInWebsite="1" type="text" translate="label">
                        <label>Customer number for guest orders</label>
                        <comment><![CDATA[Guest orders don't have a customer no., this text is displayed instead. Leave blank to hide customer no. completely.]]></comment>
                        <depends>
                            <field id="show_customer_number">1</field>
                        </depends>
                    </field>
                    <field id="show_customer_vatnumber" type="select" showInWebsite="1" showInStore="1"
                            showInDefault="1" sortOrder="45" translate="label">
                        <label>Show Customer TAX/VAT Number</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="customer_number_field" sortOrder="36" showInDefault="1" showInStore="1"
                            showInWebsite="1" type="select" translate="label">
                        <label>Which customer number</label>
                        <source_model>Firegento\Pdf\Model\System\Config\Source\Customer\Number</source_model>
                        <depends>
                            <field id="show_customer_number">1</field>
                        </depends>
                    </field>
                    <field id="show_date_notice" type="select" showInWebsite="1" showInStore="1" showInDefault="1"
                            sortOrder="10" translate="label comment">
                        <label>Show Date Notice</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Show Notice: Invoice date is equal to delivery date.</comment>
                    </field>
                    <field id="maturity" sortOrder="30" showInDefault="1" showInStore="1" showInWebsite="1"
                            type="test" translate="label comment">
                        <label>Invoice Maturity</label>
                        <comment>Days after the invoice is due. Leave this field blank to hide the message on the invoice.</comment>
                    </field>
                    <field id="payment_method_position" type="select" showInWebsite="1" showInStore="1"
                            showInDefault="1" sortOrder="40" translate="label comment">
                        <label>Show Payment Method</label>
                        <source_model>Firegento\Pdf\Model\System\Config\Source\Payment</source_model>
                        <comment>Position of payment method on invoice.</comment>
                    </field>
                    <field id="shipping_method_position" sortOrder="50" showInDefault="1" showInStore="1"
                            showInWebsite="1" type="select" translate="label comment">
                        <label>Show Shipping Method</label>
                        <source_model>Firegento\Pdf\Model\System\Config\Source\Shipping</source_model>
                        <comment>Position of shipping method on invoice.</comment>
                    </field>
                    <field id="show_comments" type="select" showInWebsite="1" showInStore="1" showInDefault="1"
                            sortOrder="60" translate="label">
                        <label>Show Invoice Comments</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="note" sortOrder="70" showInDefault="1" showInStore="1" showInWebsite="1"
                            type="textarea" translate="label comment">
                        <label>Note</label>
                        <comment>Printed on every invoice.</comment>
                    </field>
                    <field id="item_price_column_order" showInWebsite="1" showInStore="1" showInDefault="1"
                            sortOrder="80" translate="label">
                        <label>Order of price columns of items</label>
                        <frontend_model>Firegento\Pdf\Adminhtml\ColumnOrder</frontend_model>
                    </field>
                    <field id="show_item_discount" sortOrder="90" showInDefault="1" showInStore="1"
                            showInWebsite="1" type="select" translate="label">
                        <label>Show Item Discount</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="order_id_as_barcode" type="select" showInWebsite="1" showInStore="1"
                            showInDefault="1" sortOrder="100" translate="label comment">
                        <label>Show Order ID as Barcode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Prints the order ID as a barcode on the right hand side.</comment>
                    </field>
                    <field id="filename_export_pattern" sortOrder="120" showInDefault="1" showInStore="1"
                            showInWebsite="1" type="text" translate="label comment">
                        <label>Filename Export Pattern</label>
                        <comment>available placeholders: {{invoice_id}}, {{order_id}}, {{customer_id}}, {{customer_name}}, {{customer_firstname}}, {{customer_lastname}} and strftime() date formats like "%Y"</comment>
                    </field>
                    <field id="filename_export_pattern_for_multiple_documents" type="text" showInWebsite="1"
                            showInStore="1" showInDefault="1" sortOrder="140" translate="label comment">
                        <label>Filename Export Pattern for Multiple Documents</label>
                        <comment>available placeholder: strftime() date formats like "%Y"</comment>
                    </field>
                    <field id="shipping_country_notes" sortOrder="160" showInDefault="1" showInStore="1"
                            showInWebsite="1" translate="label comment">
                        <label>Add notes based on the shipping country</label>
                        <frontend_model>Firegento\Pdf\Adminhtml\System\Config\Form\Field\Notes</frontend_model>
                        <!-- @TODO: fix frontend model -->
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized</backend_model>
                        <comment>Here you can add notes to the invoice based on the shipping country of the order.</comment>
                    </field>
                </group>
                <group id="shipment" sortOrder="400">
                    <field id="engine" sortOrder="0" showInWebsite="1" showInStore="1" showInDefault="1"
                            type="select" translate="label">
                        <label>PDF Engine</label>
                        <source_model>Firegento\Pdf\Model\System\Config\Source\Shipment\Engine</source_model>
                    </field>

                    <field id="show_customer_number" sortOrder="35" showInDefault="1" showInStore="1"
                           showInWebsite="1" type="select" translate="label">
                        <label>Show Customer Number</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="guestorder_customer_number" sortOrder="36" showInDefault="1" showInStore="1"
                           showInWebsite="1" translate="label comment">
                        <label>Customer number for guest orders</label>
                        <comment><![CDATA[Guest orders don't have a customer no., this text is displayed instead. Leave blank to hide customer no. completely.]]></comment>
                        <depends>
                            <field id="show_customer_number">1</field>
                        </depends>
                    </field>
                    <field id="show_customer_vatnumber" sortOrder="45" showInDefault="1" showInStore="1"
                           showInWebsite="1" type="select" translate="label">
                        <label>Show Customer TAX/VAT Number</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="shipping_method_position" sortOrder="50" showInDefault="1" showInStore="1"
                           showInWebsite="1" type="select" translate="label comment">
                        <label>Show Shipping Method</label>
                        <source_model>Firegento\Pdf\Model\System\Config\Source\Shipping</source_model>
                        <comment>Position of shipping method on shipment.</comment>
                    </field>
                    <field id="show_comments" sortOrder="60" showInDefault="1" showInStore="1"
                           showInWebsite="1" type="select" translate="label">
                        <label>Show Shipment Comments</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="note" sortOrder="70" showInDefault="1" showInStore="1"
                           showInWebsite="1" type="textarea" translate="label comment">
                        <label>Note</label>
                        <comment>Printed on every shipment.</comment>
                    </field>
                    <field id="order_id_as_barcode" sortOrder="100" showInDefault="1" showInStore="1"
                           showInWebsite="1" type="select" translate="label comment">
                        <label>Show Order ID as Barcode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Prints the order ID as a barcode on the right hand side.</comment>
                    </field>
                    <field id="filename_export_pattern" sortOrder="120" showInDefault="1" showInStore="1"
                           showInWebsite="1" type="text" translate="label comment">
                        <label>Filename Export Pattern</label>
                        <comment>available placeholders: {{shipment_id}}, {{order_id}}, {{customer_id}}, {{customer_name}}, {{customer_firstname}}, {{customer_lastname}} and strftime() date formats like "%Y"</comment>
                    </field>
                    <field id="filename_export_pattern_for_multiple_documents" sortOrder="140" showInDefault="1"
                           showInStore="1" showInWebsite="1" type="text" translate="label comment">
                        <label>Filename Export Pattern for Multiple Documents</label>
                        <comment>available placeholder: strftime() date formats like "%Y"</comment>
                    </field>
                </group>
                <group id="creditmemo" sortOrder="500">
                    <field id="engine" sortOrder="0" showInDefault="1" showInStore="1" showInWebsite="1"
                           type="select" translate="label">
                        <label>PDF Engine</label>
                        <source_model>Firegento\Pdf\Model\System\Config\Source\Creditmemo\Engine</source_model>
                    </field>
                    <field id="show_customer_number" sortOrder="35" showInDefault="1" showInStore="1"
                           showInWebsite="1" type="select" translate="label">
                        <label>Show Customer Number</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="guestorder_customer_number" sortOrder="36" showInDefault="1" showInStore="1"
                           showInWebsite="1" translate="label">
                        <label>Customer number for guest orders</label>
                        <comment><![CDATA[Guest orders don't have a customer no., this text is displayed instead. Leave blank to hide customer no. completely.]]></comment>
                        <depends>
                            <field id="show_customer_number">1</field>
                        </depends>
                    </field>
                    <field id="show_customer_vatnumber" sortOrder="45" showInDefault="1" showInStore="1"
                           showInWebsite="1" type="select" translate="label">
                        <label>Show Customer TAX/VAT Number</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="show_comments" sortOrder="60" showInDefault="1" showInStore="1" showInWebsite="1"
                           type="select" translate="label">
                        <label>Show Credit Memo Comments</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="note" sortOrder="50" showInDefault="1" showInStore="1" showInWebsite="1"
                           type="textarea" translate="label comment">
                        <label>Note</label>>
                        <comment>Printed on every credit memo.</comment>
                    </field>
                    <field id="filename_export_pattern" sortOrder="120" showInDefault="1" showInStore="1"
                           showInWebsite="1" type="text" translate="label comment">
                        <label>Filename Export Pattern</label>
                        <comment>available placeholders: {{creditmemo_id}}, {{order_id}}, {{customer_id}}, {{customer_name}}, {{customer_firstname}}, {{customer_lastname}} and strftime() date formats like "%Y"</comment>
                    </field>
                    <field id="filename_export_pattern_for_multiple_documents" sortOrder="140" showInDefault="1"
                           showInStore="1" showInWebsite="1" type="text" translate="label comment">
                        <label>Filename Export Pattern for Multiple Documents</label>
                        <comment>available placeholder: strftime() date formats like "%Y"</comment>
                    </field>
                </group>
        </section>
    </system>
</config>
